<!DOCTYPE html>
<html>
<head>
  <title>Yelpclone</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application" %>
  
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default" role="navigation">
    <div id='nav-bar'>
      <ul class="nav navbar-nav">
          <li>
            <%= link_to('home', restaurants_path) %>
      <% if user_signed_in? %>
          <li>
            <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
          </li>
          <li>
            <%= link_to('Edit profile', edit_user_registration_path) %>
          </li>
          <% else %>
          <li>
          <%= link_to('Login', new_user_session_path)  %>  
          </li>
          <li>
          <%= link_to('Register', new_user_registration_path)  %>
          </li>
      <% end %>
        </ul>
    </div>
    <div class='navbar-left' id='add-new'>
      <%= link_to('Add restaurant', new_restaurant_path)%>
    </div>
  </nav>


<p class="notice"><%= notice %></p>

<p class="alert"><%= alert %></p>

<!-- #bootstrap flash -->

<div class="container">
<%= yield %>
</div>
<noscript>
  Please enable JavaScript in your browser for this website to work!
</noscript>
</body>
</html>
